<p style="color: green"><%= notice %></p>

<h1>Mypets</h1>

<div id="mypets">
  <% @mypets.each do |mypet| %>
    <%= render mypet %>
    <p>
      <%= link_to "Show this mypet", mypet %>
    </p>
  <% end %>
</div>

<%= link_to "New mypet", new_mypet_path %>
